
<div class="container">
	<div class="col-md-10 " >
		<h3 >Index page</h3>
		<a href="/userlist" class="btn btn-primary  btn-lg">  
			User Manager
		</a> 
		<a href="/storelist" class="btn btn-primary  btn-lg">  
			Store Manager
		</a>  
		<a href="/reviewlist" class="btn btn-primary  btn-lg">  
			Review Manager
		</a>  
	</div>
	<div class="col-md-4 " >
	</div>
	
	
</div>
