<div class="container">
	<div class="col-md-12 " >
		<div class="col-md-8 " >
			<h3 >ADD new User</h3>
			<form role="form" class="form-horizontal" action="/user" method="post">  
				<div class="form-group">  
					<label class="col-md-2 control-label" for="name">Username</label>  
					<div class="col-md-7">  
						<input class="form-control" name="username" type="text"  placeholder="username" value=""  maxlength="20" minlength="1" required />  
					</div>  
				</div> 
				<div class="form-group">  
					<label class="col-md-2 control-label" for="name">Username</label>  
					<div class="col-md-7">  
						<input class="form-control" name="firstname" type="text"  placeholder="first name" value=""  maxlength="20" minlength="1" required />  
					</div>  
				</div> 
				<div class="form-group">  
					<label class="col-md-2 control-label" for="name">Username</label>  
					<div class="col-md-7">  
						<input class="form-control" name="lastname" type="text" placeholder="last name" value=""  maxlength="20" minlength="1" required />  
					</div>  
				</div> 

				<div class="form-group">  
					<label class="col-md-2 control-label" for="name">Gender</label>    
					<div class="col-md-7">  
						<label class="radio-inline">
						  <input type="radio" name="sex" id="inlineRadio1" value="M" checked> M
						</label>
						<label class="radio-inline">
						  <input type="radio" name="sex" id="inlineRadio2" value="F"> F
						</label> 
					</div>    
				</div>
				<div class="form-group">  
					<label class="col-md-2 control-label" for="name">Age</label>  
					<div class="col-md-7">  
						<input class="form-control" name="age" type="text" id="age" placeholder="Age" value="" pattern="^[0-9]{1,2}$" required/>  
					</div>  
				</div> 
				<div class="form-group">  
					<div class="col-md-offset-1 col-md-22 text-left">  
						<button type="submit" class="btn btn-primary  btn-lg">  
							SUBMIT
						</button>  
					</div>  
				</div>  
			</form> 
		</div>
		<div class="col-md-4 " >
			xxxx
		</div>
		
	</div>
	<div class="col-md-12 " >
		<h3 >Users list</h3>
		<table class="table table-striped">
			<thead>
				<tr>
					<th style="width:1%">userID</th>
					<th>Username</th>
					<th>firstname</th>
					<th>lastname</th>
					<th>sex</th>
					<th>age</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody id="userlistbody">
				
			</tbody>
		</table>  
	</div>	
</div>
<script>
	function showuserlist(data){
		for(var i=0;i< data.length;i++){
			var td_id = $('<input id="firstname" type="text" value="'+data[i]._id +'" />');
			var trc = $('<td id="id'+ i +'">'+data[i]._id+'</td><td>'+data[i].username+'</td><td><input id="firstname'+ i +'" type="text" value="'+data[i].firstname +'" /></td>' + '<td><input id="lastname'+ i +'" type="text" value="'+data[i].lastname +'" /></td>'+ '<td><input id="sex'+ i +'" type="text" value="'+data[i].sex +'" /></td>'+ '<td><input id="age'+ i +'" type="text" value="'+data[i].age +'" /></td>' + '<td><a class="btn btn-success" id="upload'+ i +'">Upload</a></td><td><a class="btn btn-success" id="del'+ i +'">Delete</a></td>');
			//var tr = $("<td></td>")
			//var li = $("<td>abc</td>");
			$("#userlistbody").append($("<tr></tr>").append(trc));
			//$("#userlistbody > tr").append(td_id);
		}
	}
	
	$.ajax({  
        type:"get",  
        url:"/users",  
        dataType:"json",  
        success: function aa(data) {  
              showuserlist(data);
        }  
    }); 
	/*userlist edit /delete*/
	$("#userlistbody").on("click","a", function() {
		//alert($(this).attr("id"));
		var str = $(this).attr("id");
		if(str.indexOf('upload')>-1){
			str = str.replace('upload','');
			var id = $('#id'+str).val();
			var firstname = $('#firstname'+str).val();
			var lastname = $('#lastname'+str).val();
			var sex = $('#sex'+str).val();
			var age = $('#age'+str).val();
			alert(id);
		}
     //do something here
 });
</script>